In [40]:
import pandas as pd
import hvplot.pandas
from pathlib import Path

In [47]:
denver_data = pd.read_csv('/Users/tylergoering/Desktop/Denver_data.csv')

In [48]:
denver_data.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,1/31/00,...,6/30/22,7/31/22,8/31/22,9/30/22,10/31/22,11/30/22,12/31/22,1/31/23,2/28/23,3/31/23
0,273809,239,Gateway - Green Valley Ranch,neighborhood,CO,CO,Denver,"Denver-Aurora-Lakewood, CO",Denver County,170605.1662,...,514126.8948,514510.8232,512664.2979,509193.3228,505444.5564,501582.6998,497414.9173,493412.1908,491308.7392,491820.0754
1,6018,343,Montbello,neighborhood,CO,CO,Denver,"Denver-Aurora-Lakewood, CO",Denver County,157862.2846,...,456508.4577,456984.4524,455972.0267,453996.9570,451788.6063,449204.6373,446257.5503,444152.3603,442475.0849,441748.9266
2,275564,425,Central Park,neighborhood,CO,CO,Denver,"Denver-Aurora-Lakewood, CO",Denver County,NaN,...,867924.9775,867558.6405,861415.0132,853997.8439,850566.6169,849319.5127,846973.1817,837216.3990,825264.1102,814675.0409
3,268671,627,Hampden,neighborhood,CO,CO,Denver,"Denver-Aurora-Lakewood, CO",Denver County,178658.5577,...,551403.1071,550836.2822,546715.3381,541190.4071,537368.2109,534717.3892,531790.0645,530502.4699,530110.3330,531733.1478
4,268662,707,Five Points,neighborhood,CO,CO,Denver,"Denver-Aurora-Lakewood, CO",Denver County,178255.5309,...,660671.2811,662324.8690,658658.8187,651772.1973,646421.0377,642735.1169,639096.9371,635629.0177,633765.1375,634187.3676

In [49]:
denver_data.drop(['RegionID', 'SizeRank', 'StateName', 'RegionType', 'State', 'City', 'Metro', 'CountyName'], axis=1, inplace=True)

In [50]:
denver_data.head()

,RegionName,1/31/00,2/29/00,3/31/00,4/30/00,5/31/00,6/30/00,7/31/00,8/31/00,9/30/00,...,6/30/22,7/31/22,8/31/22,9/30/22,10/31/22,11/30/22,12/31/22,1/31/23,2/28/23,3/31/23
0,Gateway - Green Valley Ranch,170605.1662,171318.7325,172143.5490,174204.1990,176409.2035,178831.1588,180953.7964,183113.2244,185387.0544,...,514126.8948,514510.8232,512664.2979,509193.3228,505444.5564,501582.6998,497414.9173,493412.1908,491308.7392,491820.0754
1,Montbello,157862.2846,158741.3602,159610.7866,161742.9690,164027.0630,166587.6986,169050.3861,171542.6490,174075.2276,...,456508.4577,456984.4524,455972.0267,453996.9570,451788.6063,449204.6373,446257.5503,444152.3603,442475.0849,441748.9266
2,Central Park,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,867924.9775,867558.6405,861415.0132,853997.8439,850566.6169,849319.5127,846973.1817,837216.3990,825264.1102,814675.0409
3,Hampden,178658.5577,179586.8718,180705.2517,183283.2208,186009.0552,188777.1379,191268.5500,193682.2763,196127.1307,...,551403.1071,550836.2822,546715.3381,541190.4071,537368.2109,534717.3892,531790.0645,530502.4699,530110.3330,531733.1478
4,Five Points,178255.5309,179947.0293,181241.9692,184819.3340,188834.4830,193148.4038,197729.0907,202348.0021,206745.9026,...,660671.2811,662324.8690,658658.8187,651772.1973,646421.0377,642735.1169,639096.9371,635629.0177,633765.1375,634187.3676

In [51]:
denver_data.dropna(inplace=True)

In [52]:
denver_data.head()

,RegionName,1/31/00,2/29/00,3/31/00,4/30/00,5/31/00,6/30/00,7/31/00,8/31/00,9/30/00,...,6/30/22,7/31/22,8/31/22,9/30/22,10/31/22,11/30/22,12/31/22,1/31/23,2/28/23,3/31/23
0,Gateway - Green Valley Ranch,170605.1662,171318.7325,172143.5490,174204.1990,176409.2035,178831.1588,180953.7964,183113.2244,185387.0544,...,514126.8948,514510.8232,512664.2979,509193.3228,505444.5564,501582.6998,497414.9173,493412.1908,491308.7392,491820.0754
1,Montbello,157862.2846,158741.3602,159610.7866,161742.9690,164027.0630,166587.6986,169050.3861,171542.6490,174075.2276,...,456508.4577,456984.4524,455972.0267,453996.9570,451788.6063,449204.6373,446257.5503,444152.3603,442475.0849,441748.9266
3,Hampden,178658.5577,179586.8718,180705.2517,183283.2208,186009.0552,188777.1379,191268.5500,193682.2763,196127.1307,...,551403.1071,550836.2822,546715.3381,541190.4071,537368.2109,534717.3892,531790.0645,530502.4699,530110.3330,531733.1478
4,Five Points,178255.5309,179947.0293,181241.9692,184819.3340,188834.4830,193148.4038,197729.0907,202348.0021,206745.9026,...,660671.2811,662324.8690,658658.8187,651772.1973,646421.0377,642735.1169,639096.9371,635629.0177,633765.1375,634187.3676
5,Westwood,105822.3502,106541.2910,107266.6785,109161.1608,111153.0572,113232.2117,115037.5254,116656.0589,118290.5990,...,404618.0069,405384.3860,403830.7646,401777.0694,400026.2146,398603.3077,396555.6064,395137.6478,393985.5009,393776.3224

In [53]:
denver_crime = pd.read_csv(Path('/Users/tylergoering/Desktop/crime.csv'), encoding='latin1')

In [54]:
denver_crime.head()

,incident_id,offense_id,offense_code,offense_code_extension,offense_type_id,offense_category_id,first_occurrence_date,last_occurrence_date,reported_date,incident_address,geo_x,geo_y,geo_lon,geo_lat,district_id,precinct_id,neighborhood_id,is_crime,is_traffic,victim_count
0,202268791,202268791299900,2999,0,criminal-mischief-other,public-disorder,2/10/2022 2:50:00 AM,NaN,2/10/2022 3:16:00 AM,1107 N SANTA FE DR,3140929.0,1692612.0,-104.998910,39.733957,1,123,lincoln-park,1,0,1
1,2021387586,2021387586299900,2999,0,criminal-mischief-other,public-disorder,7/7/2021 9:02:00 PM,NaN,7/8/2021 12:55:00 AM,815 16TH ST,3142470.0,1697098.0,-104.993342,39.746248,6,611,cbd,1,0,1
2,2020641486,2020641486299900,2999,0,criminal-mischief-other,public-disorder,10/29/2020 1:30:00 AM,NaN,10/29/2020 4:31:00 AM,4745 N FEDERAL BLVD,3133352.0,1710396.0,-105.025520,39.782888,1,111,berkeley,1,0,1
3,2018612468,2018612468299900,2999,0,criminal-mischief-other,public-disorder,9/6/2018 5:00:00 PM,9/6/2018 11:00:00 PM,9/7/2018 9:58:00 AM,65 S FEDERAL BLVD,3133534.0,1685797.0,-105.025330,39.715357,4,411,barnum,1,0,1
4,2020293614,2020293614299900,2999,0,criminal-mischief-other,public-disorder,5/8/2020 5:00:00 AM,5/8/2020 6:30:00 PM,5/13/2020 10:00:00 AM,12295 E ALBROOK DR,3184065.0,1710782.0,-104.845074,39.783082,5,521,montbello,1,0,1

In [65]:
denver_crime.drop(['incident_id', 'offense_id', 'offense_code', 'offense_code_extension', 'offense_type_id', 'first_occurrence_date', 'last_occurrence_date', 'incident_address', 'district_id', 'precinct_id', 'is_crime', 'is_traffic', 'victim_count'], axis=1, inplace=True)

KeyError: "['incident_id' 'offense_id' 'offense_code' 'offense_code_extension'\n 'offense_type_id' 'first_occurrence_date' 'last_occurrence_date'\n 'incident_address' 'district_id' 'precinct_id' 'is_crime' 'is_traffic'\n 'victim_count'] not found in axis"

In [66]:
denver_crime.head()

,offense_category_id,reported_date,geo_x,geo_y,geo_lon,geo_lat,neighborhood_id
0,public-disorder,2/10/2022 3:16:00 AM,3140929.0,1692612.0,-104.998910,39.733957,lincoln-park
1,public-disorder,7/8/2021 12:55:00 AM,3142470.0,1697098.0,-104.993342,39.746248,cbd
2,public-disorder,10/29/2020 4:31:00 AM,3133352.0,1710396.0,-105.025520,39.782888,berkeley
3,public-disorder,9/7/2018 9:58:00 AM,3133534.0,1685797.0,-105.025330,39.715357,barnum
4,public-disorder,5/13/2020 10:00:00 AM,3184065.0,1710782.0,-104.845074,39.783082,montbello

In [76]:
denver_crime['reported_date'] = pd.to_datetime(denver_crime['reported_date'], format='%d-%m-%Y')
denver_crime['reported_date'] = denver_crime['reported_date'].dt.date

In [77]:
earliest_date = denver_crime['reported_date'].min()
print(earliest_date)

2018-01-02

In [96]:
latest_date = denver_crime['reported_date'].max()
print(latest_date)

2023-04-23

In [87]:
denver_df = pd.DataFrame(denver_data)

In [121]:
housing_data = denver_df.iloc[:, [0] + list(range(-63, 0))]

In [122]:
housing_data = pd.DataFrame(housing_data)

In [123]:
housing_data

,RegionName,1/31/18,2/28/18,3/31/18,4/30/18,5/31/18,6/30/18,7/31/18,8/31/18,9/30/18,...,6/30/22,7/31/22,8/31/22,9/30/22,10/31/22,11/30/22,12/31/22,1/31/23,2/28/23,3/31/23
0,Gateway - Green Valley Ranch,3.513715e+05,3.549458e+05,3.588927e+05,3.627019e+05,3.660271e+05,3.676693e+05,3.685152e+05,3.689697e+05,3.697807e+05,...,5.141269e+05,5.145108e+05,5.126643e+05,5.091933e+05,5.054446e+05,5.015827e+05,4.974149e+05,4.934122e+05,4.913087e+05,4.918201e+05
1,Montbello,3.204007e+05,3.238543e+05,3.275028e+05,3.309880e+05,3.341020e+05,3.362195e+05,3.377308e+05,3.389214e+05,3.401208e+05,...,4.565085e+05,4.569845e+05,4.559720e+05,4.539970e+05,4.517886e+05,4.492046e+05,4.462576e+05,4.441524e+05,4.424751e+05,4.417489e+05
3,Hampden,3.824049e+05,3.846020e+05,3.871607e+05,3.898473e+05,3.929004e+05,3.953374e+05,3.977836e+05,3.993761e+05,4.011019e+05,...,5.514031e+05,5.508363e+05,5.467153e+05,5.411904e+05,5.373682e+05,5.347174e+05,5.317901e+05,5.305025e+05,5.301103e+05,5.317331e+05
4,Five Points,4.617463e+05,4.645828e+05,4.680450e+05,4.717982e+05,4.770203e+05,4.810340e+05,4.844217e+05,4.863344e+05,4.883344e+05,...,6.606713e+05,6.623249e+05,6.586588e+05,6.517722e+05,6.464210e+05,6.427351e+05,6.390969e+05,6.356290e+05,6.337651e+05,6.341874e+05
5,Westwood,2.783284e+05,2.814030e+05,2.843295e+05,2.871754e+05,2.898206e+05,2.921065e+05,2.940212e+05,2.954935e+05,2.967538e+05,...,4.046180e+05,4.053844e+05,4.038308e+05,4.017771e+05,4.000262e+05,3.986033e+05,3.965556e+05,3.951376e+05,3.939855e+05,3.937763e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,Skyland,4.320636e+05,4.368310e+05,4.422342e+05,4.485682e+05,4.554208e+05,4.603061e+05,4.633897e+05,4.652093e+05,4.666402e+05,...,6.227959e+05,6.214564e+05,6.162631e+05,6.095763e+05,6.041498e+05,6.005688e+05,5.973984e+05,5.964154e+05,5.968442e+05,5.985570e+05
69,Overland,3.464568e+05,3.469873e+05,3.484837e+05,3.515712e+05,3.559501e+05,3.587893e+05,3.604810e+05,3.613678e+05,3.625897e+05,...,5.165711e+05,5.163839e+05,5.114442e+05,5.055086e+05,5.025714e+05,5.015594e+05,4.993372e+05,4.999676e+05,5.027110e+05,5.086347e+05
70,Wellshire,7.703408e+05,7.738937e+05,7.780726e+05,7.828005e+05,7.896292e+05,7.940684e+05,7.977157e+05,8.001637e+05,8.041446e+05,...,1.109499e+06,1.109314e+06,1.100624e+06,1.088316e+06,1.078569e+06,1.073710e+06,1.068888e+06,1.071225e+06,1.073766e+06,1.080585e+06
71,Country Club,1.079181e+06,1.087787e+06,1.095438e+06,1.103906e+06,1.117978e+06,1.130543e+06,1.139554e+06,1.144896e+06,1.148923e+06,...,1.672542e+06,1.673506e+06,1.662289e+06,1.646748e+06,1.634060e+06,1.630004e+06,1.625570e+06,1.619955e+06,1.612840e+06,1.609399e+06
73,Rosedale,4.970724e+05,4.998996e+05,5.034804e+05,5.083003e+05,5.138893e+05,5.179197e+05,5.210529e+05,5.230022e+05,5.248577e+05,...,7.271955e+05,7.270109e+05,7.218766e+05,7.149270e+05,7.101369e+05,7.067962e+05,7.027214e+05,7.000135e+05,6.978134e+05,6.978707e+05

In [126]:
denver_crime = pd.DataFrame(denver_crime)

In [127]:
denver_crime.head()

,offense_category_id,reported_date,geo_x,geo_y,geo_lon,geo_lat,neighborhood_id
0,public-disorder,2022-02-10,3140929.0,1692612.0,-104.998910,39.733957,lincoln-park
1,public-disorder,2021-07-08,3142470.0,1697098.0,-104.993342,39.746248,cbd
2,public-disorder,2020-10-29,3133352.0,1710396.0,-105.025520,39.782888,berkeley
3,public-disorder,2018-09-07,3133534.0,1685797.0,-105.025330,39.715357,barnum
4,public-disorder,2020-05-13,3184065.0,1710782.0,-104.845074,39.783082,montbello

In [129]:
print(housing_data.isnull().sum())

RegionName    0
1/31/18       0
2/28/18       0
3/31/18       0
4/30/18       0
             ..
11/30/22      0
12/31/22      0
1/31/23       0
2/28/23       0
3/31/23       0
Length: 64, dtype: int64

In [130]:
print(denver_crime.isnull().sum())

offense_category_id        0
reported_date              0
geo_x                  14392
geo_y                  14392
geo_lon                14392
geo_lat                14392
neighborhood_id          382
dtype: int64

In [132]:
print(denver_crime['neighborhood_id'].nunique())

78

In [133]:
print(housing_data['RegionName'].nunique())

68